body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(ellipse at center, rgb(197, 118, 118),rgb(223, 51, 51));
  width: 100%;
  height: 1500px;
  .fotocircular{
  width: 300px;         /* Tamanho da imagem */
  height: 300px;        /* Altura igual à largura para formar um círculo */
  object-fit: cover;    /* Garante que a imagem preencha o espaço sem distorcer */
  border-radius: 50%;   /* Isso transforma o quadrado em círculo */
  border: 3px solid #0f0f0f; /* Opcional: borda branca ao redor */
  display: block;
  margin: 0 auto;
}
.legenda{ text-align: center;}
}
.fa-solid{
  margin-left: 20px;
  margin-top: 20px;
 font-size: 30px;
top: 20px;
right: 20px;
cursor: pointer;
 color: #020202;
 display: none;
 }
 .menu-option.active {
    display: inline;
    opacity: 1;
    transform: translateY(0);
}
 .menu-option{
  text-decoration: none;
  color: #b65757;
  margin-left: 50px;
            background-color: #131212;
            border-radius: 15px;
            width: 200px;
            display: none; /* Inicialmente escondido */
 }
@media (min-width: 80px){
    .menu-option{
      position:inherit;
    }
  }
  @media (min-width: 800px){
    .menu-option{
      position: fixed;
    }
  }
  .curriculooption{
    position: inherit;
    color: #e49898; 
    text-decoration: none;
  }
  .curriculooption ul{
    list-style: none;
  margin: 0;
  padding: 10px 10px;
  }
  .curriculooption il{
  padding: 10px 20px;
  cursor: pointer;
}
.curriculooption li:hover{
  color: black;
background-color: #aa7b7b;
}
 #menuOptions{
  display:flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  display: none;
}
.menu-option ul{
  list-style: none;
  margin: 0;
  padding: 10px 10px;
}
.menu-option li{
  padding: 10px 20px;
  cursor: pointer;
}
.menu-option li:hover{
background-color: #ce6a6a;
}
.menu-option li:hover a{
  color: black;
}
.fa-x-twitter{
  display:flex;
  margin-top: 30px;
  align-items:center;
margin-inline: calc(49%);
 font-size: 50px;
cursor: pointer;
 color: #000;
}
.figcaption{
  font-size: 25px;
  font-weight: bolder;
  color: #1a030b;
  text-align: center;
}
.fa-instagram{
  display:flex;
  margin-top: 30px;
  align-items:center;
margin-inline: calc(49%);
 font-size: 50px;
cursor: pointer;
 color: #000;
}
.fa-threads{
  display:flex;
  margin-top: 30px;
  align-items:center;
margin-inline: calc(49%);
 font-size: 50px;
cursor: pointer;
 color: #000;
}
.fa-reddit{
  display:flex;
  margin-top: 30px;
  align-items:center;
margin-inline: calc(49%);
 font-size: 50px;
cursor: pointer;
 color: #000;
}
.fa-facebook{
  display:flex;
  margin-top: 30px;
  align-items:center;
margin-inline: calc(49%);
 font-size: 50px;
cursor: pointer;
 color: #000;
}
.fa-discord{
  display:flex;
  margin-top: 30px;
  align-items:center;
margin-inline: calc(49%);
 font-size: 50px;
cursor: pointer;
 color: #000;
}
.botaom{
  background-color: rgb(3, 3, 3);
  flex-direction: row;
  border: 2px solid #9c1c1c;
  padding: 8px 12px;
  border-radius: 50px;
  margin-top: 25px;
  color: #b65757;
  display: inline-flex;
  font-size: 18px;
  text-decoration: none;
  align-items: center;
  gap: 8px;
}
.botaow{
  background-color: rgb(3, 3, 3);
  flex-direction: row;
  border: 1px solid #9c1c1c;
  padding: 8px 12px;
  border-radius: 50px;
  margin-top: 25px;
  color: #b65757;
  display: inline-flex;
  font-size: 18px;
  text-decoration: none;
  align-items: center;
  gap: 8px;
}
.fa-whatsapp{
  margin-inline: 8px;
  gap: 8px;
  display: inline-flex;
}
.fa-envelope{
  margin-inline: 8px;
  gap: 8px;
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
    .container{
    flex-direction: row;
    justify-content: center;
  margin-top: 50px;
  }
}
.container-links{
  display:flex;
  flex-direction: column; /* padrão: um em cima do outro */
  align-items: center;
}

/* A partir de 768px (tablet), muda para lado a lado */
@media (min-width: 1100px) {
    .container-links{
    flex-direction: row;
    justify-content: center;
  gap: 100px;
  }
}